
<h1>{{titulo}}</h1>
<div id="menu">
<ul>
<li><a href="/">Inicio</a></li> |
<li><a href="/about">Sobre Fotogayfía</a></li> |
<li><a href="https://fotogayfia.wordpress.com" target="_blank">Blog</a></li>
</ul>
</div>

<img src="{{foto}}" alt="Imagen del proyecto" width="25%" />

<p>{{intro}}</p>

<blockquote>{{cita}}</blockquote>

<p>{{cierre}}</p>
